name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Start Command.
      run: echo Building LaTeX project...
    - name: Build for LaTeX
      uses: xu-cheng/latex-action@1.0.5
      with:
        root_file: root.tex
        args: -jobname=/output/output.pdf
    - name: GitHub Push PDF
      uses: ad-m/github-push-action@v.0.4.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        directory: '/output'
